.feedbackContainer {
    box-sizing: border-box;
    padding-top: 17.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.80);
}

.feedbackContainer h1,
.feedbackContainer h2,
.feedbackContainer p {
    font-weight: 100;
    color: white;
}

.feedbackContainer h1 {
    font-size: 2.08vw;
    margin-bottom: 2.96vw;
}

.feedbackContainer h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: MontserratX;
    font-size: 1.5625vw;
    margin-bottom: 1.82vw;
}

.feedbackContainer button p {
    font-family: MontserratX;
    text-transform: uppercase;
    font-size: 0.78vw;
}

.socialMedias {
    display: flex;
    justify-content: center;
    height: 7.135vw;
    margin-bottom: 2.5vw;
}

.socialMedia {
    opacity: 0.8;
    position: relative;
    display: grid;
    place-items: center;
    width: 7vw;
    height: 7vw;
    margin: 0 0.67vw;
    border-radius: 0.15vw;
    border: 0.1vw solid rgba(255, 255, 255, 0.30);
    background: radial-gradient(340.69% 161.82% at 114.74% 134.77%, rgba(94, 178, 255, 0.30) 0%, rgba(0, 0, 0, 0.00) 62.59%), radial-gradient(101.92% 89.68% at 50.00% -13.38%, rgba(208, 255, 238, 0.20) 0%, rgba(0, 0, 0, 0.00) 100%), rgba(0, 0, 0, 0.80);
}

.socialMedia.selected {
    opacity: 1;
    border: 0.1vw solid rgba(255, 255, 255, 0.9);
}

.socialMedia .augmentedBorder {
    position: absolute;
    top: -0.1vw;
    right: -0.05vw;
    width: 100%;
    height: 100%;
    padding: 0.1vw;
    /* border: 1px solid white; */
    --aug-all-width: 0.2vw !important;
    --reticle-color: #ffffff !important;
    --reticle-size: calc(var(--aug-all-width) * 4) !important;
    --aug-border-bg: radial-gradient(circle at top 2.5% left 2.5%,
                    var(--reticle-color) var(--reticle-size),
                    transparent var(--reticle-size)), radial-gradient(circle at bottom 2.5% right 0%,
                    var(--reticle-color) var(--reticle-size),
                    transparent var(--reticle-size)) !important;
    --aug-tl: 0.3vw;
    --aug-br: 0.3vw;
}

.socialMedia img {
    height: 2vw;
}

.socialMediaName {
    display: grid;
    place-items: center;
    position: absolute;
    bottom: -0.7vw;
    width: 4.58vw;
    height: 1.5vw;
    border-radius: 0.15vw;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.50);
    background: rgb(221, 221, 221)
}

.socialMediaName p {
    font-family: Montserrat;
    font-weight: 900;
    font-size: 0.625vw;
    letter-spacing: 0.025vw;
    text-transform: capitalize;
    color: #3a3a3afd;
}

.feedbackContainer button {
    width: 14.27vw;
    height: 3.07vw;
    border-radius: 0.15vw;
    letter-spacing: 0.05vw;
    border: 0.1vw solid rgba(136, 136, 136, 0.8);
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.00) 100%), rgba(222, 222, 222, 0.70);
}

.feedbackContainer button:hover {
    border-color: rgba(165, 198, 235, 0.80);
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.00) 100%), rgba(105, 161, 225, 0.70);
}

.feedbackContainer img {
    pointer-events: none;
}