.customizationMenu {
    position: absolute;
    top: 13.95vw;
    left: 2.7vw;
    width: 22.65vw;
    height: 28.3vw;
   /*  background-color: rgba(0, 0, 255, 0.384); */
}

.menuSelector {
    position: absolute;
}

.customizationMenu section {
    display: flex;
    width: 22.65vw;
    height: 25.34vw;
    margin-top: 0.72vw;
   /*  background-color: rgba(255, 0, 0, 0.301); */
}

.homePageMenu {
    width: 19.27vw;
    height: 25.36vw;
    margin-left: 0.72vw;
}

.buttons {
    display: flex;
    width: 19.27vw;
    height: 2.55vw;
}

.buttons button {
    /* width: 8.95vw;
    height: 2.55vw; */
    border: 0.1vw solid;
    border-radius: 0.15vw;
}

.pageTitle {
    display: grid;
    place-items: center;
    width: 10vw;
    height: 2.23vw;
    border-radius: 0.15vw;
    margin-left: 3.33vw;
    background: rgba(255, 255, 255, 0.95);
}

.pageTitle h1 {
    text-align: center;
    font-family: Montserrat;
    font-size: 0.93vw;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 0.05vw;
    color: rgba(0, 0, 0, 0.7);
}