.rotatePlayer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 2.3vw;
    left: 45.75vw;
    height: 4vw;
    width: 8.5vw;
}

.rotatePlayer h1 {
    font-family: MontserratX;
    font-style: normal;
    font-weight: 300;
    font-size: 1vw;
    text-shadow: 0px 0px 4px rgba(40, 40, 40, 0.53);
    color: white;
}

.rotatePlayer img {
    height: 2vw;
    margin: 0 0.95vw;
}